VITE_SUPABASE_URL=https://emrhfvdeemuwfeinkppk.supabase.co

VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImVtcmhmdmRlZW11d2ZlaW5rcHBrIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Njg0NDE0OTcsImV4cCI6MjA4NDAxNzQ5N30.G-TMt6gAYP6F4izGvPkRNJXyCOWNFq6VsllFqRq3eU0